#background {
    background-image: url(back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.nav-item:hover {
    background-color: rgb(248, 196, 27);
}

.sizes {
    height: 50px;
}

.min {
    min-height: 619px;
}

.adjust {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.close {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background: url(login.jpg)
}

.bgs {
    background: rgb(85, 83, 83);
}


.position {
    position: relative;
    color: #999;   
}

.psicon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #999; /* Adjust icon color as needed */
    cursor: pointer;
}

