#background {
    background-image: url(back.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.nav-item:hover {
    background-color: rgb(248, 196, 27);
}

.sizes {
    height: 50px;
}

.min {
    min-height: 619px;
}

.adjust {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.close {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background: linear-gradient(#000000,#f4ff8d);
}

.bgs {
    background: linear-gradient(#585858,#f4ff8d);
}