.view:hover{
    transform: scale(1.1);
    background-color: #a8a8ac;
  }
  
.cntr {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.cntrs {
  display: flex;
  justify-content: start;
  align-items: start;
  font-weight: bold;
}

.bar {
    overflow: hidden;
    background-color: rgba(61, 61, 61, 0.5);
    position: -webkit-sticky; 
    position: sticky;
    z-index: 999;
    top: 0;
}

.orb {
  background-color: rgba(61, 61, 61, 0.5);
}
.order {
  overflow: hidden;
  position: -webkit-sticky; 
  position: sticky;
  z-index: 888;
  top: 0;
}

.bd {
    background: linear-gradient(#020024, #d7c8a0);
}

.active {
    background-color: rgb(27, 0, 150); 
    color: rgb(73, 53, 255);
    border-radius: 20px;
  }

  .qty {
    height: 20px;
    width: 30px;
  }