.view:hover{
    transform: scale(1.1);
    background-color: #54f899;
    border-radius: 800px;
  }
  
.cntr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    overflow: hidden;
    background-color: rgba(61, 61, 61, 0.5);
    position: -webkit-sticky; 
    position: sticky;
    z-index: 999;
    top: 0;
}
