.view:hover{
    transform: scale(1.1);
    background-color: #c3c9c2;
    border-radius: 800px;
  }
  
.cntr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    overflow: hidden;
    background-color: rgba(61, 61, 61, 0.5);
    position: -webkit-sticky; 
    position: sticky;
    z-index: 999;
    top: 0;
}

.bd {
    background: linear-gradient(#020024, #d7c8a0);
}

.active {
    background-color: rgb(211, 216, 207); 
    color: rgb(207, 209, 207);
    border-radius: 5px;
  }

  .qty {
    height: 20px;
    width: 30px;
  }